/* Container căn giữa toàn bộ form */
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    width: 100%;
    font-family: Arial, sans-serif
}

.forgot-password-container form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Giới hạn chiều rộng của form */
    width: 100%; /* Form chiếm 100% chiều rộng */
    display: flex;
    flex-direction: column;
}

/* Căn chỉnh form-group để các thành phần có cùng độ dài */
.form-group {
    width: 100%; /* Đảm bảo chiều rộng của các thành phần bên trong */
    margin-bottom: 20px; /* Khoảng cách giữa các trường */
}

.form-group label {
    display: block;
    margin-bottom: 8px; /* Khoảng cách giữa nhãn và input */
    font-size: 16px;
    color: #333;
}

/* Định nghĩa cho các ô input */
.forgot-password-container input {
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.forgot-password-container input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

/* Định nghĩa cho nút bấm */
.forgot-password-container button {
    background-color: #f58220;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    width: 100%; /* Nút có chiều rộng bằng với input */
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.forgot-password-container button:hover {
    background-color: #e0730f;
}
