.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    width: 100%;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.forgotPasswordContainer form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Căn chỉnh form-group để các thành phần có cùng độ dài */
.formGroup {
    width: 100%;
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

/* Định nghĩa cho các ô input và button để có cùng chiều rộng */
.forgotPasswordContainer input,
.forgotPasswordContainer button {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    width: 100%; /* Cả input và button sẽ có chiều rộng 100% */
    font-size: 16px;
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
}

.forgotPasswordContainer input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px #4CAF50;
}

/* Định nghĩa cho nút bấm */
.forgotPasswordContainer button {
    background-color: #f58220;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.forgotPasswordContainer button:hover {
    background-color: #e0730f;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Định nghĩa cho thông báo lỗi */
.errorMessage {
    color: red;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}
