.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
  margin-top: 80px;
  position: relative; /* To ensure proper positioning of the google button */
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.forgot-password {
  color: #f58220;
  text-decoration: none;
}

.login-button {
  background-color: #f58220;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #e0730f;
}

.register {
  text-align: center;
  margin-top: 15px;
}

.or-login-with {
  text-align: center;
  margin-top: 20px;
  color: #999;
}

.google-login {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.google-button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  height: 44px; /* Match height of login button */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.google-button:hover {
  background-color: #f0f0f0;
}

.google-button span {
  margin-left: 8px;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.form-group, .google-login {
  width: 100%;
  margin-bottom: 20px; /* Ensures spacing between input fields and the Google button */
}
