/* Đảm bảo container có chiều cao 100vh và căn giữa */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
  margin-top: 80px;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px; /* Tăng khoảng cách giữa các form-group */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 12px; /* Tăng khoảng cách padding cho đều */
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
  box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến kích thước */
  margin-top: 10px;
}

.forgot-password {
  color: #f58220;
  text-decoration: none;
}

.login-button {
  background-color: #f58220;
  color: white;
  padding: 12px; /* Đồng nhất padding với input */
  border: none;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px; /* Thêm khoảng cách giữa input và nút */
}

.login-button:hover {
  background-color: #e0730f;
}

.register {
  text-align: center;
  margin-top: 15px;
}

.or-login-with {
  text-align: center;
  margin-top: 20px;
  color: #999;
}


.google-button {
  display: flex; /* Sử dụng Flexbox để căn giữa nội dung */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Đảm bảo nút có chiều rộng đầy đủ */
  font-size: 16px;
  padding: 12px; /* Đảm bảo padding đều cho nút */
  transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp màu nền */
}

.google-button:hover {
  background-color: #f1f1f1; /* Màu nền khi hover */
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}
