.resetPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.resetPasswordForm {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Đảm bảo chiều rộng tối đa */
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.resetPasswordForm h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 25px;
    width: 100%; /* Đảm bảo formGroup chiếm toàn bộ chiều rộng */
}

.errorMessage {
    color: red;
    text-align: left;
    font-size: 14px;
    margin-top: 8px;
}

.resetPasswordForm input,
.resetPasswordButton {
    border: 2px solid #ddd;
    padding: 12px; /* Đảm bảo padding đồng nhất */
    border-radius: 5px;
    outline: none;
    width: 100%; /* Đảm bảo các khung nhập và nút đều chiếm toàn bộ chiều rộng */
    font-size: 16px;
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
    transition: border-color 0.3s ease;
}

.resetPasswordForm input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.resetPasswordButton {
    background-color: #f58220;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.resetPasswordButton:hover {
    background-color: #e0730f;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
