.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    margin-top: 80px;
    font-family: Arial, sans-serif;
}

.reset-password-container form {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.reset-password-container h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.reset-password-container .error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.reset-password-container input {
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
    outline: none; /* Remove focus outline */
    width: 100%;
    font-size: 16px;
    /* Remove focus border change */
    transition: border-color 0.3s;
}

.reset-password-container input:focus {
    border-color: #000000; /* Keep the border black on focus */
    box-shadow: none; /* Remove box shadow */
}

.reset-password-container button {
    background-color: #f58220;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.reset-password-container button:hover {
    background-color: #e0730f;
}
